<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- bean definitions here -->

	<!-- property injection / setter injection -->

	<bean id="e1" class="com.deloitte.spring.demo.model.Employee">
		<property name="employeeId">
			<value>101</value>
		</property>
		<property name="firstName">
			<value>Sonu</value>
		</property>
		<property name="salary">
			<value>90000</value>
		</property>
	</bean>

	<bean id="e2" class="com.deloitte.spring.demo.model.Employee">
		<property name="employeeId">
			<value>102</value>
		</property>
		<property name="firstName">
			<value>Monu</value>
		</property>
		<property name="salary">
			<value>95000</value>
		</property>
	</bean>

	<!-- Collection injection -->

	<bean id="e3" class="com.deloitte.spring.demo.model.Employee">
		<property name="employeeId">
			<value>102</value>
		</property>
		<property name="firstName">
			<value>Monu</value>
		</property>
		<property name="salary">
			<value>95000</value>
		</property>
		<property name="projects">
			<list>
				<value>Banking</value>
				<value>Finance</value>
				<value>Stocks</value>
				<value>Investment</value>
			</list>
		</property>
	</bean>

	<!-- Object injection -->

	<bean id="d1" class="com.deloitte.spring.demo.model.Department">
		<property name="departmentId">
			<value>10</value>
		</property>
		<property name="departmentName">
			<value>HR</value>
		</property>
		<property name="city">
			<value>Hyderabad</value>
		</property>
	</bean>

	<!-- inner bean -->

	<bean id="e4" class="com.deloitte.spring.demo.model.Employee"
		scope="prototype">
		<property name="employeeId">
			<value>102</value>
		</property>
		<property name="firstName">
			<value>Monu</value>
		</property>
		<property name="salary">
			<value>95000</value>
		</property>
		<property name="projects">
			<list>
				<value>Banking</value>
				<value>Finance</value>
				<value>Stocks</value>
				<value>Investment</value>
			</list>
		</property>
		<property name="department">
			<bean id="d1" class="com.deloitte.spring.demo.model.Department">
				<property name="departmentId">
					<value>10</value>
				</property>
				<property name="departmentName">
					<value>HR</value>
				</property>
				<property name="city">
					<value>Hyderabad</value>
				</property>
			</bean>
		</property>
	</bean>

	<!-- Constructor injection -->

	<!-- <bean id="e5" class="com.deloitte.spring.demo.model.Employee" init-method="init" 
		destroy-method="destroy" > -->

	<bean id="e5" class="com.deloitte.spring.demo.model.Employee">
		<constructor-arg>
			<value>105</value>
		</constructor-arg>
		<constructor-arg>
			<value>Sonu</value>
		</constructor-arg>
		<constructor-arg>
			<value>85000</value>
		</constructor-arg>
	</bean>

	<!-- create beans to inject primitives, objects, inner beans with constructor 
		injection -->

</beans>










